.page{
    height: 272px;
    width:630px;
    ul{
        height: 272px;
        width:630px;
        // background: red;
      li{ 
           list-style: none;
            width:630px;
            height: 214px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .li_left{
                height: 150px;
                width: 110px;
                img{
                    height: 150px;
                    width: 110px;
                }
            }
            .li_right{
               width: 475px;
               height: 130px;
               display: flex;
               flex-direction: column;
               justify-content:space-between;
                h3{
                     color: #232323;
                }
                .p{
                    display: block;
                    display: flex;
                    color: #232323;
                    justify-content: space-between;
                    span{
                        font-size: 32px;
                        color: red;
                    }
                    button{
                        width: 140px;
                        height: 48px;
                        border: 2px solid #FF6743;
                        color:#ff6743;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}
.content{
    height: 272px;
    width:630px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}
.index{
   width: 630px;
    height:28px ;
    position: absolute;
    bottom: 0px;
    height: 28px;
    ul{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0px  250px;        
       
    }
    ul li{
        text-align: center;
        list-style: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px  solid  gainsboro;
        background-color: #fff;
       }
        .selected{
            list-style: none;
                width: 20px;
                height: 10px;
                border-radius: 25px;
                border: 1px  solid gainsboro;
                background-color: #ff6743;
        }
}