// 巡回演出
.theTour{
    margin: 0 auto;
    width: 750px;
    height: 500px;
    .theTour_content{
        margin-top: 20px;
        background: #F5F5F5;
        width: 694px;
        height:332px ;
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        justify-content: space-between;
    .theTour_content_left{
        width: 200px;
        height: 272px;
        img{
            width: 200px;
        }
    }
    .theTour_content_right{
        width: 408px;
        height: 288px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p{
            word-wrap: break-word;
            span{
                color: red;
                font-size: 30px;
            }
        }
        .theTour_content_right_p{
            font-size: 30px;
            font-weight: 500;
        }
     }
    }
}
