.ticket{
    background: #f0f0f0;
    position: absolute;
}
.top{
    height: 436px;
    background: #181818;
    box-shadow:0 0 50px #fff inset;
}
.title{
    height: 89px;
    font-size: 36px;
    font-weight: bold;
    margin: 0 30px;
    color: #fff;
    line-height: 89px;
    display: flex
}
.center{
    flex: 1
}
.return{
    margin-top: 20px;
}
.title span:nth-child(2){
    text-align: center;
    
}
.content{
    display: flex;
}
.content_right{
    display: flex;
    height: 300px;
    margin:30px 30px 0 30px;
}
.img2{
    position:relative;
}
.img2 img{
    display: block;
    height: 290px;
}
.img1{
    position: absolute;
    left:0;
    top:0;

}
.img1 img{
    width: 60px;
    height: 70px;
    top:-10px;
    
}
.content_left{
    font-size: 32px;
    color: #fff;
    margin-right:30px; 
    
}
.content_left p:first-child{
    margin-top:40px
    
}
.content_left .bold{
    font-weight: bold;
    font-size: 40px;
    margin-top:130px;
}
.support{
    background: #fff;
    height: 425px;
    margin-bottom: 20px;
}
.item{
    border-bottom: 1px solid #EBEBEB;
    margin: 0 30px;
}
.item span{
    font-size: 26px;
    color: #5B5B5B;
    line-height: 83px;
    margin-right: 30px;
}
.brief{
    height: 222px;
    margin: 0 30px;
}
.info{
    height: 179px;
    position: relative;
}
.brief p:first-child{
    font-size: 36px;
    line-height: 80px;
}
.brief p:nth-child(2){
    font-size: 30px;
    line-height: 70px;
}
.brief p:nth-child(3){
    font-size: 24px;
    color: #666
}
.position{
    position: absolute;
    width: 58px;
    height: 58px;
    bottom: 0;
    right:30px;
    border-radius : 50%;
    background: #EDEDED
}
.position img{
    position: absolute;
    left:9px;
    top:9px;
    width: 40px;
    height: 40px;
}
.plus{
    height: 121px;
}
.plus_tips{
    height: 88px;
    background-image: linear-gradient(-4deg, #1e1e1e, #464542);
    margin:0px 30px;
    border-radius: 10px;
}
.plus_tips div{  
    height: 88px;
    margin:0px 30px;
}
.plus_tips span{
}
.plus_tips span:first-child{
    
    height: 35px;
    background-image: linear-gradient(0deg, #f5dea9, #f8d583);
}
.card{
   font: 22px ""; 
   line-height: 88px;
   padding: 0px 5px;
}
.plus_tips span:nth-child(2){
    color: #f5dea9;
    margin-left: 30px;
    font-size: 28px;
}
.plus_tips span:nth-child(3){
    color: #f5dea9;
    margin-left: 20px;
    font-size: 22px;
}
.vip{
    height: 96px;
    background: #fff
}
.vip_box{
    margin: 0 30px;
    height: 94px;
    line-height: 94px;
    display: flex;
    
}

.vip_box span:first-child{
    color: #999;
    
    font-weight: 500;
    font-size: 28px;
    margin-right: 20px;
    
}
.vip_box span:nth-child(2){
    color: #999;
    font-size: 28px;
    margin-right: 20px;
}
.vip_box span:nth-child(3){
    color: #000;
    font-size: 24px;
    
    margin-right: 10px;
}
.vip_box span:nth-child(4){
    color: #ff6743;
    font-size: 24px;
    flex: 1;
    margin-right: 10px;
}
.vip_box:after{
    content:"";   
    display:block;
    height: 2px;
    background:#EBEBEB; 
}
.entry{
    
    background: #fff;
    margin-bottom: 20px;
}
.entry_box{
    height: 103px;
    padding: 30px 30px 0 30px;
    display: flex
    
}
.entry span:first-child{
    color: #999;
    font-weight: 500;
    font-size: 28px;
    width: 90px;
}
.entry span:nth-child(2){
    color: #999;
    font-size: 28px;
    margin-right: 20px;
}
.entry span:nth-child(3){
    /* display: block */
    line-height: 40px;
    font-size: 26px;
}
.detail{
    background: #fff;
    margin-bottom: 20px;
}
.detail_box{
    margin: 0px 30px;
    /* text-align: center; */
}
.detail_box img{
    width: 690px;
    height: 516px;
}
.detail_title{
    font-size: 36px;
    font-weight: bold;
    line-height: 100px;
    margin: 0 30px;
}
.detail_title p{
    line-height: 100px;
}
.detail_title img{
    width: 100%;
    height: 100%
}
.warn{
    height: 160px;
    background: #fff;
    margin-bottom: 20px;
    
}
.warn_title{
    font-size: 36px;
    line-height: 100px;
    display: flex;
    font-weight: bold;
    margin: 0 30px;

}
.warn_title span:first-child{
    flex: 1
}
.warn_list{
    font-size: 26px;
    margin: 0 30px;
    color: #999;

}
.warn_list span{
    margin-right: 40px;
}
.recommend{
    background: #fff;
}
.recommend_box{
    margin: 0 30px;
    padding-bottom: 50px;

}
.recommend_title{
    font-size: 36px;
    line-height: 100px;
    font-weight: bold;
    margin: 0 30px;
}
.recommend_img{
    width: 210px;
    height: 288px;
}
.recommend_box2{
    display: flex;
    
}
.recommend_schedule{
    margin-left: 30px;
}
.recommend_schedule p:first-child{
    font-size: 35px;
    line-height: 50px;
}
.recommend_schedule p:nth-child(2){
    font-size: 32px;
    line-height: 50px;
    width: 450px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;  /*限制在一个块元素显示的文本的行数*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.recommend_schedule p:nth-child(3){
    font-size: 24px;
    color: #666;
    line-height: 50px;
}
.label{
    font-size: 16px;
    display: flex;
    line-height: 50px;
    text-align: center;
    
}
.label span{
    font-weight: 500;
    color: #ff6743;
    margin-right:10px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 20px;;
    background: #fff1ef
}
.label_price{
    font-size: 32px;
    color: #ff6743
}
.label_price span{
    font-size: 22px;
    color: #999
}
.bottom{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 110px;
    background: #fff;
    border-top:2px solid #EBEBEB;
    
}
.bottom_box{
    margin: 0 30px;
    display: flex;
}
.img5{
    width: 40px;
    color: #666;
    margin:20px 30px 0 0;
}
.img5 img{
    height: 40px;
}
.line{
    
    font-size: 34px;
    color:#fff;
    width: 100%;
    text-align: center;
    margin-top:20px;
    font-weight: bold;
    line-height: 80px;
    border-radius: 80px;
    background-image: linear-gradient(50deg, #ff9a34, #ff4d4a);
}
.placeholder{
    height: 110px;
}