.page{
    height: 328px;
    width:700px;
    background-color: skyblue;
}
.content{
    background: red;
    height: 328px;
    width:700px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}
.index{
    width: 700px;
    height:28px ;
    position: absolute;
    bottom: 0px;
    height: 28px;
    ul{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
       
    }
    ul li{
        text-align: center;
        list-style: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px  solid  gainsboro;
        background-color: #fff;
       }
        .selected{
            list-style: none;
                width: 20px;
                height: 10px;
                border-radius: 25px;
                border: 1px  solid gainsboro;
                background-color: #ffffff;
        }
}